<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juliodev.taxihaiti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListeTaxi"
            android:label="@string/title_activity_liste_taxi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddTaxi"
            android:label="@string/title_activity_add_taxi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Details"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Findtaxi"
            android:label="@string/title_activity_findtaxi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Localisation"
            android:label="@string/title_activity_localisation"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".faceData.AfterSearch"
            android:label="@string/title_activity_after_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".faceData.FakeDetails"
            android:label="@string/title_activity_fake_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>